body{
    font-family: 'Work Sans', sans-serif;
}


.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}   


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex_start{
    justify-content: start;
}


.logo img{
    margin-right: 15px;
}


.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}


.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}


.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}


.header_ul{
    margin-right: 77px;
}


.header_li:not(:last-of-type){
    margin-right: 50px;
}


li a:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2B292D; 
    bottom: -3px;
}


.header_link:hover{
    font-weight: bold;
}


.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}


.button:hover, .engage_button1:hover, .engage_button2:hover{
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%),  #638cf3;
}


.question{
    padding: 77px 130px 76px;
    background-color:  #F4F5F7;;
}


.question_wrapper{
    max-width: 555px;
    margin-right: 29px;
}


.question_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}


.question_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}


.logos{
    padding: 30px 0 106px;
}


.inbox{
  background-color:   rgba(252, 240, 227, 0.4);
  padding: 117px 0 116px;
}


.inbox_response{
    max-width: 519px;
    width: 100%;
    background-color: white;
    padding: 30px 30px 28px;
    box-sizing: border-box;
    border-bottom: 4px solid  #0185D0;;
}


.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}


.inbox_text-bold{
    font-weight: 700;
}


.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}


.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}


.inbox_img{
    margin-right: 11px;
}


.info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}


.info_pretitle-orange{
    color: #F1592B;
}


.info_pretitle-blue{
    color: #0189D1;
}


.info_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    margin-bottom: 26px;
}


.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}


.communicate{
    padding: 110px 0 105px;
}


.communicate_desc{
    max-width: 360px;
    width: 100%;
    height: 115px;
    padding-top: 105px;  
}


.communicate_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}


.communicate_text-bold{
    font-weight: 700;
}


.communicate_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3142C6;  
    line-height:36px; 
}


.engage{
    background-color:rgba(0, 161, 198, 0.07) ;
}


.engage_text{
    text-align: center;
}


.engage_text1{
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    font-weight: 700;
    padding-top: 108px;
} 


.engage_text2{
    max-width: 555px;
    margin: 24px auto 30px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: 700;
}


.engage_text3{
    max-width: 555px;
    margin: 0px auto 34px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    font-weight: 400;
}
 

.engage_button{
    justify-content: center;
}


.engage_button1, .engage_button2{
    width: 160px;
    height: 48px;
    border: none;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    border-radius: 2px;
}  


.engage_button1{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    color: #FFFFFF;
} 


.engage_button2{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}


.engage_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.engage_item{
    width: 262px;
    height: 300px;
    border-radius: 8px;
    margin: 111px 0 110px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    text-align: center;
}


.engage_item:hover{
    cursor: pointer;
    transition: 1s;
    background: #3141C5;
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
} 

.engage_item:hover > p{
    color: #FFFFFF;
}


.engage_item_img{
   margin: 22px 0 22px ;   
} 


.engage_item_text{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
    font-weight: 700;
}


.surfaces_text{
    text-align: center;
}


.surfaces_text1{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
}


.surfaces_text2{
    max-width: 554px;
    margin: 26px auto 97px;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    
}


.surfaces_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 49px 41px;
}


.grid_picture:nth-child(3), .grid_picture:nth-child(4){
    grid-row: span 2;
}

.grid_picture{
    width: 100%;
    height: 100%;
}

.start{
    background-color: #F4F5F7;
    padding: 73px 72px;
}
.start_info{
    max-width:  555px; ;

}
.start_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    font-weight: bold;
    color: #2B292D;
    
}

.start_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    padding: 12px 0 26px;
}
.start_form{
    max-width: 385px;
    height: 48px;
}

.start_checkbox{
    max-width: 495px;
}
.start_checkbox-text{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);

}






@media screen and (max-width: 1200px){
    .conttainer{
    max-width: 1040px ;
    }

    .header_ul{
        margin-right: 50px;
    }
}


 @media screen and (max-width:1090px){
    .container{
        max-width: 750px;

    }

    .logo_text{
        display: none;
    }

    .header_nav{
        display: none;
    }

    .flex_inbox-column{
        flex-direction: column-reverse;
    }

    .inbox{
        padding: 56px 0  69px;
    }

    .info{
        text-align: center;
    }

    .info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }

    .inbox_text{
        max-width: 429px;
        margin: 0 auto ;
        font-size: 18px;
        line-height: 26px;

    }

    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }

    .surfaces_grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 29px 45px ;
    }

    .grid_picture:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .grid_picture:nth-child(4){
         grid-row: 2/4;
    }

    .grid_picture:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .grid_picture:nth-child(7){
        display: none;
    }

        
}

@media screen and (max-width:800px){
    .container{
        max-width: 500px;
    }

    .header{
        padding: 25px 0;
    }

    .inbox{
        padding: 40px 0;
    }

    .inbox_response{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px){
    .container{
     max-width: 430px;
    }

    .info_pretitle{
        margin-bottom: 20px;
    }

    .info_title{
        font-size: 36px;
        line-height: 48px;
    }

}

@media screen and (max-width: 480px){
    .container{
     max-width: 310px;
    }

    .container-image_img{
        width: 100%;
        
    }
}

@media screen and (max-width: 360px){
    .container{
     max-width: 300px;
    }
}

@media screen and (max-width: 320px){
   .container{
    max-width: 290px;
   }

   .header{
    background: #FFFFFF;
    padding: 8px 0;
   } 

   
   .logo img{
    margin-right: 13px;
   }

   .question{
    padding: 46px 15px;
   }

   .question_wrapper{
    max-width: 290px;
    width: 100%;
    margin: 0 0 20px;
   
   }
   .logos_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1 fr);
   }

   
   .inbox{
    padding:50px 0 48px;
   }

   .container_image{
    margin-bottom: 32px;
   }

   .info{
    text-align: start;
   }

   .flex_inbox-column{
    flex-direction: column;
   }

   .info_pretitle{
    margin-bottom: 17px;
   }

   .info_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-bottom: 18px;
   }

   .info_text{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 40px;
   }

   .inbox_response{
        padding:30px 20px;
   }

   .communicate_desc{
    padding: 0 0 30px;
    
   }

   

   .engage_grid{
    grid-template-columns:  1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px ;
   }

   .engage_item{
    margin: 0 auto;
   }






   .surfaces_grid{
    grid-template-columns:  1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 17px ;
   }

    .grid_picture:nth-child(2){
        display: none;
   
    }
    .grid_picture:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .grid_picture:nth-child(4){
         grid-row: 2/4;
    }
}
    
    













    
