body{
    font-family: 'Work Sans', sans-serif;
}


.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}   


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex_start{
    justify-content: start;
}


.logo img{
    margin-right: 15px;
}


.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}


.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}


.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}


.header_ul{
    margin-right: 77px;
}


.header_li:not(:last-of-type){
    margin-right: 50px;
}


li a:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2B292D; 
    bottom: -3px;
}


.header_link:hover{
    font-weight: bold;
}


.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}


.button:hover, .engage_button1:hover, .engage_button2:hover{
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%),  #638cf3;
}


.question{
    padding: 77px 130px 76px;
    background-color:  #F4F5F7;;
}


.question_wrapper{
    max-width: 555px;
    margin-right: 29px;
}


.question_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}


.question_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}


.logos{
    padding: 30px 0 106px;
}


.inbox{
  background-color:   rgba(252, 240, 227, 0.4);
  padding: 117px 0 116px;
}


.inbox_response{
    max-width: 519px;
    width: 100%;
    background-color: white;
    padding: 30px 30px 28px;
    box-sizing: border-box;
    border-bottom: 4px solid  #0185D0;;
}


.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}


.inbox_text-bold{
    font-weight: 700;
}


.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}


.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}


.inbox_img{
    margin-right: 11px;
}


.info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}


.info_pretitle-orange{
    color: #F1592B;
}


.info_pretitle-blue{
    color: #0189D1;
}


.info_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    margin-bottom: 26px;
}


.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}


.communicate{
    padding: 110px 0 105px;
}


.communicate_desc{
    max-width: 360px;
    width: 100%;
    height: 115px;
    padding-top: 105px;  
}


.communicate_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}


.communicate_text-bold{
    font-weight: 700;
}


.communicate_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3142C6;  
    line-height:36px; 
}


.engage{
    background-color:rgba(0, 161, 198, 0.07) ;
}


.engage_text{
    text-align: center;
}


.engage_text1{
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    font-weight: 700;
    padding-top: 108px;
} 


.engage_text2{
    max-width: 555px;
    margin: 24px auto 30px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: 700;
}


.engage_text3{
    max-width: 555px;
    margin: 0px auto 34px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    font-weight: 400;
}
 

.engage_button{
    justify-content: center;
}


.engage_button1, .engage_button2{
    width: 160px;
    height: 48px;
    border: none;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    border-radius: 2px;
}  


.engage_button1{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    color: #FFFFFF;
} 


.engage_button2{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}


.engage_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.engage_item{
    width: 262px;
    height: 300px;
    border-radius: 8px;
    margin: 111px 0 110px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    text-align: center;
}


.engage_item:hover{
    cursor: pointer;
    transition: 1s;
    background: #3141C5;
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
    color: #FFFFFF;
} 


.engage_item_img{
   margin: 22px 0 22px ;   
} 


.engage_item_text{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
    font-weight: 700;
}


.engage_item_text:hover {
    cursor: pointer;
    transition: 1s;
    color: #FFFFFF;
}  


.surfaces_text{
    text-align: center;
}


.surfaces_text1{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
}


.surfaces_text2{
    max-width: 554px;
    margin: 26px auto 97px;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    
}


.surfaces_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 45px;
}


.picture:nth-child(3), .picture:nth-child(4){
    grid-row: span 2;
}


